$main-bg-color: rgba(236, 241, 248, 0.4);
$secondary-bg-color: #ffffff;

$primary-text-color: #3e4056;
$secondary-text-color: #3e3f58;

$accent-text-color: #f05d63;
$accent-bg-color: #ed5267;

$gradient: linear-gradient(135deg, #ff974f 0%, #e32c75 100%);
